<table id="person_attributes" class="table table-bordered">
  <tr>
    <td><strong><%= t("name") %></td></strong>
    <td><%= @person.name %></td>
  </tr>
  <tr>
    <td><strong><%= t("gender") %></td></strong>
    <td><%= @person.gender %></td>
  </tr>
  <tr>
    <td><strong><%= t("type") %></td></strong>
    <td><%= @person.type %></td>
  </tr>
  <tr>
    <td><strong><%= t("birthday") %></td></strong>
    <td><%= @person.birthday %></td>
  </tr>
  <tr>
    <td><strong><%= t("telephone") %></td></strong>
    <td><%= @person.telephone %></td>
  </tr>
  <tr>
    <td><strong><%= t("neighborhood") %></td></strong>
    <td><%= @person.neighborhood %></td>
  </tr>
  <tr>
    <td><strong><%= t("city") %></td></strong>
    <td><%= @person.city %></td>
  </tr>
  <tr>
    <td><strong><%= t("religion") %></td></strong>
    <td><%= @person.religion %></td>
  </tr>
  <tr>
    <td><strong><%= t("literacy") %></td></strong>
    <td><%= @person.literacy %></td>
  </tr>
  <tr>
    <td><strong><%= t("father") %></td></strong>
    <td><%= @person.father %></td>
  </tr>
  <tr>
    <td><strong><%= t("mother") %></td></strong>
    <td><%= @person.mother %></td>
  </tr>
  <tr>
    <td><strong><%= t("email") %></td></strong>
    <td><%= @person.email %></td>
  </tr>
  <tr>
    <td><strong><%= t("cellphone") %></td></strong>
    <td><%= @person.cellphone %></td>
  </tr>
  <tr>
    <td><strong><%= t("email") %></td></strong>
    <td><%= @person.email %></td>
  </tr>
  <tr>
    <td><strong><%= t("company") %></td></strong>
    <td><%= @person.company %></td>
  </tr>
  <tr>
    <td><strong><%= t("position") %></td></strong>
    <td><%= @person.position %></td>
  </tr>
  <tr>
    <td><strong><%= t("marital_status") %></td></strong>
    <td><%= @person.marital_status %></td>
  </tr>
  <tr>
    <td><strong><%= t("drugs") %></td></strong>
    <td><%= @person.drugs %></td>
  </tr>
  <tr>
    <td><strong><%= t("allergies") %></td></strong>
    <td><%= @person.allergies %></td>
  </tr>
  <tr>
    <td><strong><%= t("postal_code") %></td></strong>
    <td><%= @person.allergies %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity") %></td></strong>
    <td><%= @person.allergies %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity_issuer") %></td></strong>
    <td><%= @person.allergies %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity_expedition_date") %></td></strong>
    <td><%= @person.allergies %></td>
  </tr>

  <tr>
    <td><strong><%= t("beginning_date") %></td></strong>
    <td><%= @person.beginning_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td><strong><%= t("end_date") %></td></strong>
    <td><%= @person.end_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td><strong><%= t("address") %></td></strong>
    <td><%= @person.address %></td>
  </tr>
  <tr>
    <td><strong><%= t("accompanist") %></td></strong>
    <td><%= @person.accompanist %></td>
  </tr>
</table>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', person_path %>