<table id="friend_attributes" class="table table-bordered">
  <tr>
    <td><strong><%= t("name") %></td></strong>
    <td><%= @friend.name %></td>
  </tr>
  <tr>
    <td><strong><%= t("created_at") %></td></strong>
    <td><%= @friend.created_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td><strong><%= t("active") %></td></strong>
    <td><%= t(@friend.active) %></td>
  </tr>
  <tr>
    <td><strong><%= t("gender") %></td></strong>
    <td><%= t(@friend.gender) %></td>
  </tr>
  <tr>
  <td><strong><%= t("marital_status") %></td></strong>
    <td><%=  t(@friend.marital_status) %></td>
  </tr>
  <tr>
    <td><strong><%= t("address") %></td></strong>
    <td><%= @friend.address %></td>
  </tr>
  <tr>
    <td><strong><%= t("neighborhood") %></td></strong>
    <td><%= @friend.neighborhood %></td>
  </tr>
  <tr>
    <td><strong><%= t("city") %></td></strong>
    <td><%= @friend.city %></td>
  </tr>
  <tr>
    <td><strong><%= t("email") %></td></strong>
    <td><%= @friend.email %></td>
  </tr>
  <tr>
    <td><strong><%= t("telephone") %></td></strong>
    <td><%= @friend.telephone %></td>
  </tr>
  <tr>
    <td><strong><%= t("cellphone") %></td></strong>
    <td><%= @friend.cellphone %></td>
  </tr>
  <tr>
    <td><strong><%= t("blood_type") %></td></strong>
    <td><%= @friend.blood_type %></td>
  </tr>
  <tr>
    <td><strong><%= t("age") %></td></strong>
    <td><%= @friend.age %></td>
  </tr>
  <tr>
    <td><strong><%= t("literacy") %></td></strong>
    <td><%= t(@friend.literacy) %></td>
  </tr>
  <tr>
    <td><strong><%= t("company") %></td></strong>
    <td><%= @friend.company %></td>
  </tr>
  <tr>
    <td><strong><%= t("position") %></td></strong>
    <td><%= @friend.position %></td>
  </tr>
  <tr>
    <td><strong><%= t("cpf") %></td></strong>
    <td><%= @friend.cpf %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity") %></td></strong>
    <td><%= @friend.identity %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity_issuer") %></td></strong>
    <td><%= @friend.identity_issuer %></td>
  </tr>
  <tr>
    <td><strong><%= t("identity_expedition_date") %></td></strong>
    <td><%= @friend.identity_expedition_date %></td>
  </tr>
  <tr>
    <td><strong><%= t("birthday") %></td></strong>
    <td><%= @friend.birthday %></td>
  </tr>
  <tr>
    <td><strong><%= t("first_role") %></td></strong>
    <td><%= t(@friend.first_role) %></td>
  </tr>
  <tr>
    <td><strong><%= t("second_role") %></td></strong>
    <td><%= t(@friend.second_role) %></td>
  </tr>
  <tr>
    <td><strong><%= t("parish") %></td></strong>
    <td><%= @friend.parish %></td>
  </tr>
  <tr>
    <td><strong><%= t("community") %></td></strong>
    <td><%= @friend.community %></td>
  </tr>
  <tr>
    <td><strong><%= t("pastoral") %></td></strong>
    <td><%= @friend.pastoral %></td>
  </tr>
</table>

<h2>Familia</h2>
<table id="family_attributes" class="table table-bordered">
  <tr>
    <td><%= t("spouse") %></td>
    <td><%= @friend.family.spouse %></td>
  </tr>
  <tr>
    <td><%= t("father") %></td>
    <td><%= @friend.family.father %></td>
  </tr>
  <tr>
    <td><%= t("mother") %></td>
    <td><%= @friend.family.mother %></td>
  </tr>
  <tr>
    <td><%= t("number_of_children") %></td>
    <td><%= @friend.family.number_of_children %></td>
  </tr>

  <h2> Filhos </h2>
  <% @friend.family.children.each do |child| %>
    <tr>
      <td><%= t("name") %></td>
      <td><%= child.name %></td>
    </tr>
    <tr>
      <td><%= t("age") %></td>
      <td><%= child.age %></td>
    </tr>
  <% end %>


</table>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friend_path %>