<!DOCTYPE html>
<html>
<head>
  <title>Terapia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Terapia de Oração', friends_path, :class => 'brand'%>
      <div class="nav-collapse collapse">
          <% if current_user %>
            <p class="navbar-text pull-right">
              Conectado como <%= current_user.email %>
              <%= link_to "Desconectar", destroy_user_session_path, method: :delete %>
            </p>
            <% else %>
              <p class="navbar-text pull-right">
                <%= link_to "Cadastrar", new_user_registration_path %> ou
                <%= link_to "Acessar", new_user_session_path %>
              </p>
            <% end %>
        <ul class="nav">
          <li class="<%=cp(friends_path)%>"> <%= link_to 'Amigos', friends_path  %></li>
          <li class="<%=cp(participants_path)%>"> <%= link_to 'Participantes', participants_path %></li>
          <li class="<%=cp(patients_path)%>"> <%= link_to 'Pacientes', patients_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <% if flash[:notice] %>
    <div id="notice" class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
