<!DOCTYPE html>
<html>
<head>
  <title>Terapia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>

  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Terapia de Oração', people_path, :class => 'brand'%>
      <div class="nav-collapse collapse">
          <% if current_user %>
            <p class="navbar-text pull-right">
              Conectado como <%= current_user.email %>
              <%= link_to "Desconectar", log_out_path %>
            </p>
            <% else %>
              <p class="navbar-text pull-right">
                <%= link_to "Cadastrar", sign_up_path %> ou
                <%= link_to "Acessar", log_in_path %>
              </p>
            <% end %>
        <ul class="nav">
          <li class="active"> <%= link_to 'Amigos', friends_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <% if flash[:notice] %>
  <div id="notice" class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
